.App {
  text-align: center;
}

.photo {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.photo img {
  max-width: 100%;
  height: auto;
}

.photo h3 {
  margin-top: 10px;
  font-size: 1.2rem;
}